.title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-weight: 900;
}


.form-array {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.actions > button{
    margin: 10px 10px 10px 0px;
    border-radius: 5px;
    width: 90px;
    height: 40px;
}